* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.app-wrapper {
  text-align: center;
  border: solid red 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
}

.child {
  border: solid blue 1px;
  width: 50%;
}